{% extends 'blog/base.html' %}

{% load static %}

{% block title %}
Blog

{% endblock title %}

{% block content %}    
    <link rel="stylesheet" href="{% static 'css/list.css'%}">
    
    <h1>
        Blog List
    </h1>
    {% for post in posts %}
        <h2>
            <a href = "{{ post.get_absolute_url }}">
                {{ post.title }}
        </h2>
        <p class = "date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body | truncatewords:30 | linebreaks}}
    {% endfor %}
<footer>    
    <p>
        {% include 'pagination.html' with page=page_obj %}
    </p>
</footer>

{% endblock content %}
    